*{
    margin: 0;
    padding: 0;
}

#header{
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.navbar-brand{
    font-weight: 600;
    font-size: 1.8rem;
}

.navbar-dark .navbar-brand{
    color: white;
}

.nav-item{
    font-weight: 450;
    text-transform: uppercase;
    padding-left: 0.9rem;
}

.navbar-nav .nav-item .nav-link{
    color: white;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
    color: #18D26E;
    cursor: pointer;
}

.main{
    position: relative;
    background: url(../assests/images/Bike-1.jpg);
    /* min-height: 100vh; */
    background-size: cover;
    background-position: center;
    padding: 90px 0 90px;
    background-attachment: fixed;
}

.message{
    color: red;
    font-size: 15px;
}

.success-msg{
    color: #18D26E;
    font-size: 15px;
}

h1, h2{
    font-size: 2rem;
    color: white;
    margin-top: 1.5rem;
}

h3{
    color: white;
    font-size: 2rem;
}

.main #box{
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;
    /* margin-left: 0.3rem; */
}

.main .quote h1, p{
  color: white;
  margin-right: 2rem;
}

.main .quote h1{
  font-size: 3rem;
  margin-top: 10rem;
  font-family: 'Domine', serif;

}

.main .quote p{
  font-size: 1.3rem;
  font-family: 'Domine', serif;
  font-weight: 100;
  color: #eeecec;

}

.label{
    font-size: 1.2rem;
    font-weight: normal;
    color: whitesmoke;
    margin-bottom: 0.1rem;
}

.input-group{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.input-group-addon{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 1.5rem;
    color: whitesmoke;
}

.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid white;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

input{
    background: transparent;
    border: none;
    font-size: 0.4rem;
    font-weight: 300;
    transition: border 0.5s;
    outline: none;
}

/* ::placeholder{
	color: white;
	opacity: 0.8;
} */
input[type="checkbox"]{
    height: 0.9rem;
    width: 0.9rem;
}

small{
    font-size: 1.1rem;
    color: white;
}

.main p{
    font-size: 1rem;
    color: white;
}

.btn-outline-info{
    border-radius: 0.5rem;
    font-size: 1.4rem;
    margin-left: 9rem;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}

.btn-default{
    background-color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 8rem;
}

.btn-default:hover{
    color: rgb(3, 76, 233);
}

.navbar.scrolled{
    background: black;
    transition: background 100ms;
}

#how-to-use, #why-us{
    padding: 60px 0 60px 0;
    overflow: hidden;
}

/* #how-to-use p{
    font-size: 1.2rem;
    line-height: 1.5rem;
} */

.section-bg{
    background: #EFF5F5;
}

.section-header .section-title{
    color: #111111;
    font-weight: 400;
    font-size: 3.6rem;
}

.section-header .section-divider{
    display: block;
    width: 9rem;
    height: 0.3rem;
    background: linear-gradient(0deg, #1DC8CD, 0%, #55FABE);
    margin: 25px auto;
    margin-bottom: 2rem;
}

.section-header .section-description{
    text-align: center;
    padding-bottom: 2.5rem;
    color: #3d3636;
    font-style: italic;
    font-size: 1.4rem;
}

#how-to-use .box{
    box-shadow: 0px 0px 30px rgba(38, 41, 48, 0.15);
    background: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
}


#why-us{
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.7)), url(../assests/images/img9.jpg);
    background-size: cover;
    background-position: center;
}

#why-us h4{
    font-size: 2.3rem;
    color: black;
}
/*
#why-us .services-icon{
    float: left;
    padding: 16px;
} */

#why-us p{
    font-size: 1.1rem;
    color: #1a1414;
}
/*  Continue reading

*/
#more {
    display: none;
}
#more2{
    display: none;
}
#more3{
    display: none;
}
#more4{
    display: none;
}
#more5{
    display: none;
}
#more6{
    display: none;
}
#more7{
    display: none;
}

.card-img, .card-img-bottom, .card-img-top{
    flex-shrink: 0;
    width: 100%;
    height: 400px;
}


/*--------------------------------
           Testimonials
---------------------------------- */

#user-experience h2 {
	color: #000;
	font-size: 2.5rem;
	font-weight: 400;
	position: relative;
	margin: 0 0 50px 0;
	text-transform: uppercase;
	display: inline-block;
}
#user-experience h2::after {
	content: "";
	width: 50%;
	position: absolute;
	height: 0.5rem;
	border-radius: 0.1rem;
	background: #ff5555;
	left: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 1rem;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;
    background: #9b9b9b;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #9b9b9b;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
	margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
	margin-left: 0;
}
.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	content: '\94';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #ff5555;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
    background: #666;
    text-shadow: none;
	top: 4px;
}
.carousel-control i {
	font-size: 16px;
}
.carousel-control.left {
	left: auto;
	right: 40px;
}
.carousel-control.right {
	left: auto;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}
.carousel-indicators li {
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #ff5555;
    border: 5px double;
}
.star-rating li {
	padding: 0 2px;
}
.star-rating i {
	font-size: 14px;
	color: #ffdc12;
}


/* -----------------------------------
          Footer
-------------------------------------- */

#footer{
    background: #000000;
    padding: 0;
    color: #eeeeee;
}

#footer .footer-top{
    background: #111111;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info{
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3{
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 0.1rem;
    border-left: 4px solid #18D26E;
}

#footer .footer-top .footer-info p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #eeeeee;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
}

#footer .footer-top h4 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #18D26E;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1.3rem;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}
#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul a {
    color: #eeeeee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #18D26E;
    cursor: pointer;
}

#footer .footer-top .social-links a {
    font-size: 1.2rem;
    display: inline-block;
    background: #333;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 40px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    color: #18D26E;
}

/*-----------------------------------
         Deals
  -----------------------------------*/
#deals {
    margin-top: 2rem;
}


.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    text-align: center;
  }

  .flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
  }

  .flip .card {
      width: 270px;
      height: 178px;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
      background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
      border: 2px solid #B721FF;
}

  .flip .card .face {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
  }

  .flip .card .front {
     position: absolute;
     width: 270px;
     z-index: 1;
  }

  .flip .card .front img{
    width: 270px;
    height: 178px;
  }

  .flip .card .img {
     position: relaitve;
     width: 270px;
     height: 178px;
     z-index: 1;
     border: 2px solid #000;
  }

  .flip .card .back {
    padding-top: 10%;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
  }

  .inner{
    margin:0px !important;
    width: 270px;
  }

  .inner p{
      font-size: 1.5rem;
      color: #ffffff;
  }
.inner .btn a{
  color: #ffffff;
}
  .tour-img{
    /* height: 300px; */
    background: url(../assests/images/manali.jpg);
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
  }

  .tour-img p{
    padding-top: 10rem;
    color: #000000;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    /* font-weight: bold; */
  }

  .tour-img1{
    /* height: 300px; */
    background: url(../assests/images/leh_ladakh1.jpg);
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
  }

  .tour-img1 p{
    padding-top: 10rem;
    color: black;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
  }

  .tour-img2{
    /* height: 300px; */
    background: url(../assests/images/Sikkim.jpg);
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
  }

  .tour-img2 p{
    padding-top: 10rem;
    color: black;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
  }

  .tour-img3{
    /* height: 300px; */
    background: url(../assests/images/Ooty.jpg);
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
  }

  .tour-img3 p{
    padding-top: 10rem;
    color:black;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
  }

/* -------------------------------
      Contact Us Page
 --------------------------------- */

#header #mainNavbar{
    background: #000;
}

#contact{
    padding: 30px 0;
    margin-top: 60px;
}

#contact .section-header{
    margin-bottom: 30px;
}

#contact .section-header h2 {
    font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

#contact .section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
}

#contact .section-header p {
    padding: 0;
    margin: 0;
    color: black;
}


#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #50d8af;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

#contact .contact-info address, #contact .contact-info p {
    margin-bottom: 0;
    color: #000;
}


#contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    padding: 20px 0;
}
#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
}

#contact .contact-info a {
    color: #000;
}

#contact a {
    color: #50d8af;
    transition: 0.5s;
}

#contact .form #sendmessage {
    color: #50d8af;
    border: 1px solid #50d8af;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form input, #contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form button[type="submit"] {
    background: #50d8af;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

#contact .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*------------------------------------
          About
-------------------------------------*/

#about .aboutus-inner{
    text-align: center;
}

#about .aboutus-bannermain {
    display: table;
    height: 400px;
    background-image: url('../assests/images/team\ \(1\).jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin-top: 65px;
}

#about .aboutus-banner-inner {
    display: table-cell;
    vertical-align: middle;
    text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 2px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

#about .aboutus-desc-main, .aboutus-desc-secondinner {
    padding: 20px 0px;
}

#about .aboutus-desc-title {
    font-size: 24px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin: 30px 4% 20px;
}

#about .underline {
    width: 70px;
    height: 2px;
    background: #18D26E;
    margin: 15px auto;
}

#about .aboutus-section {
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    color: #737373;
    margin-bottom: 30px;
}

/*-----------------------------
         Blogs
-----------------------------*/
#page-title {
    position: relative;
    padding: 50px 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    display: block;
    margin-top: 71px;
}

#page-title .container {
    position: relative;
}
/* @media (min-width: 992px) */
#page-title .container {
    max-width: 970px;
}
/* @media (min-width: 768px) */
#page-title .container {
    max-width: 750px;
}
/* @media (min-width: 576px) */
#page-title .container {
    max-width: 540px;
}

#page-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

#main-content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

#main-content .content-wrap{
    position: relative;
    padding: 80px 0;
}

#main-content .container{
    position: relative;
}

/* #main-content .jumbotron{
    background: url('../assests/images/img4.jpg') center center / cover;
} */

#main-content .dark, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #eee;
}

#main-content .ls2 {
    letter-spacing: 2px!important;
}

#main-content .t600 {
    font-weight: 600!important;
}

#main-content .uppercase {
    text-transform: uppercase!important;
}

#main-content p {
    line-height: 1.8;
}

#main-content body:not(.device-touch) .button {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#main-content .button.button-3d {
    border-radius: 3px;
    border-bottom: 3px solid rgba(0,0,0,.15);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#main-content .button.button-rounded {
    border-radius: 3px;
}

#main-content .button-white {
    background-color: #f9f9f9;
}

#main-content .row .card-body .card-link {
    color: #c85e51;
}

#main-content .button:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime):not(:hover){
    background-color: #c85e51;
}
#main-content .button-light {
    background-color: #eee;
    color: #333;
    text-shadow: none!important;
}

#main-content .button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #1abc9c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#main-content .ls0 {
    letter-spacing: 0!important;
}

#main-content .nomargin {
    margin: 0!important;
}

#main-content .nott {
    text-transform: none!important;
}

#main-content .video-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#main-content .video-overlay, .video-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: transparent url(images/grid.png) repeat;
    /* -webkit-backface-visibility: hidden; */
}

#main-content .page-item .page-link{
    color: #1abc9c;
    font-size: 1.5rem;
}

#main-content .page-item.active .page-link{
    background-color: #c85e51;
}



/*-----------------------------
         FAQ
--------------------------------*/
#faq-main {
    margin-top: 70px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
    height: 35rem;
  }

#faq-main .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

#faq-main .faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;
}

#faq-main .faq-nav .nav-link:hover {
    background-color: #f6f6f6;
}

#faq-main .faq-nav .nav-link.active {
    background-color: #fff;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}

#faq-main .faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}

#faq-main .faq-nav .nav-link i.fa {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
}

#faq-main .tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}

#faq-main .tab-content .card {
    border-radius: 0;
}

#faq-main .tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #fff;
}

#faq-main .tab-content .card-header h5 {
    margin: 0;
}

#faq-main .tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
}

#faq-main .tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
}

#faq-main .tab-content .card-body p {
    color: #616161;
}

#faq-main .tab-content .card-body p:last-of-type {
    margin: 0;
}

#faq-main .accordion > .card:not(:first-child) {
    border-top: 0;
}

#faq-main .collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
